.profile {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 20px;
  align-items: center;
  flex-wrap: nowrap;
  margin: 20px;
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

.icone-user-profile {
  font-size: 5em;
}

.username {
  font-size: 2em;
}

.experience-level {
  text-align: center;
  margin-top: 20px;
}

.experience-name {
  font-size: 16px;
}

/* .level-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: var(--background-color);
  border: 10px solid var(--primary-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  margin-bottom: 10px;
  margin-top: 50px;
} */

.level-circle {
  position: relative;
  width: 250px;
  height: 250px;
  display: inline-flex;
}

.level-circle svg {
  transform: rotate(-90deg);
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 7em;
  color: #fff;
  font-weight: bold;
}
