.amis-content {
  padding: 0 20px 95px 20px;
  overflow-y: auto;
}

.friend {
  gap: 10px;
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}

.classement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icone-user-profile {
  font-size: 3em;
}

.username {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 8px;
}

.level {
  font-size: 1.2em;
  border: solid 4px;
  border-radius: 50px;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

.trophies-friends {
  display: none;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

.trophies-friends .trophy {
  font-size: 1.5em;
}

.friend.expanded .trophies-friends {
  display: flex;
}

.infos-amis-visibles {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.infos-amis {
  display: flex;
  gap: 20px;
  align-content: center;
}
