.defis-content {
  padding: 0 20px 60px 20px;
  overflow-y: auto;
}

.challenges {
  margin-bottom: 20px;
}

.challenges h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.challenge {
  border: 2px solid;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  position: relative;
}

.challenge.easy {
  border-color: green;
}

.challenge.medium {
  border-color: orange;
}

.challenge.hard {
  border-color: red;
}

.challenge-icon {
  font-size: 24px;
  margin-right: 10px;
}

.difficulty {
  font-weight: bold;
  margin-top: 10px;
}

.countdown {
  font-size: 14px;
  color: #c9c9c9;
  margin-top: 10px;
}

.challenge.completed {
  background-color: var(--primary-color);
  text-decoration: line-through;
}

.challenge-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.challenge-content h3 {
  margin: 0;
  font-size: 1.2em;
}

.challenge-content p {
  margin: 5px 0;
}

.complete-btn {
  padding: 10px;
  border: none;
  background-color: var(--primary-color);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.complete-btn:hover {
  background-color: var(--secondary-color);
}

.defis-title {
  display: flex;
}
