body {
  height: 100dvh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: var(--dark-gray);
  color: white;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--secondary-color);
  z-index: 10;
  height: 65px;
}

header a {
  color: #fff;
}

footer {
  position: absolute;
  background-color: var(--secondary-color);
  bottom: 0;
  z-index: 50;
  width: 100%;
  border-top: 1px solid white;
  height: 75px;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: calc(100% - 20px);
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.8em;
}

main {
  position: relative;
  height: calc(100dvh - 50px);
}

.logo {
  width: 50px;
  height: auto;
  vertical-align: middle;
}

/* ================================================================= */

.app-name {
  font-size: 1.8em;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 3px;
}

.app-name a {
  color: white;
  text-decoration: none;
}

.app-icones {
  margin-right: 10px;
  display: flex;
  align-content: center;
  gap: 25px;
  cursor: pointer;
  color: white;
}

.icone-trophy {
  font-size: 1.7em;
  padding-top: 3px;
}

.icone-user {
  font-size: 2em;
}

.icone-map {
  font-size: 1.4em;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.route-selection {
  position: absolute;
  bottom: 89px;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: var(--secondary-color);
  color: black;
  border-radius: 25px 25px 0 0;
  z-index: 10;
  height: 75px;
  overflow: hidden;
  transition: height 0.5s, border-radius 1s;
  max-height: calc(100dvh - 138px);
}

.route-selection.full {
  border-radius: 0;
}

.route-selection hr {
  border: 3px solid white;
  border-radius: 10px;
  width: 20vw;
}

.route-selection h3 {
  color: white;
  margin: 10px 10px 20px;
  padding: 0;
  font-weight: bold;
  user-select: none;
  text-align: center;
}

.route-selection label {
  display: block;
  margin: 10px 0;
  color: white;
  pointer-events: none;
}

.route-selection select,
.route-selection input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

#map > div.mapboxgl-control-container > div.mapboxgl-ctrl-bottom-right > div,
#map
  > div.mapboxgl-control-container
  > div.mapboxgl-ctrl-bottom-left
  > div
  > a {
  display: none;
}

.layer-buttons {
  position: absolute;
  top: 60px;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.layer-buttons button {
  background-color: var(--primary-color);
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.layer-buttons button:hover {
  background-color: var(--secondary-color);
}
